* {
  box-sizing:border-box;
  margin: 0;
  padding: 0;
  font-family: Segoe UI;
}

.flex{
  display: flex;
  height: 100%;
}

div.content { 
  background-color: rgb(240,242,245);
  padding: 30px;  
}

/*Contenido del sidebar*/
div.sidebar {
  flex-direction: column;
  background-color:rgb(80, 25, 126);
  width: 200px;
  flex-shrink: 0;
}

#opcion1:target, #opcion2:target, #opcion3:target, #opcion4:target { 
 display: block;
}

/*Estilos de links*/
a:hover {   /*Mouse sobre opcion*/
  background-color:rgb(98, 32, 151);
}

a {
  display: block;
  text-decoration: none;
  padding: 5px;
  color: rgb(255, 255, 255);
}

.contenidoOpcion { display: none; }

/*Estilos para tablas*/
table, th, td{
  border: 1px solid black;
  border-collapse: collapse;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div > table{
  margin: 20px;
  background-color: white;
  border-collapse: collapse;
}


td{
padding: 10px;
}

img {
  margin: 10px auto 5px;
  display: block;
}

/*Propiedades social bar*/
.social{
  position: fixed;
  right: 0;
  top: 200px;
  z-index: 2000;
}
.social ul{
  list-style: none;
}
.social ul li a{
  display: inline-block;
  color: #fff;
  background-color: rgb(240,242,245);
  padding: 3px 3px;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
.social ul li .facebook{background: #3b5998;}
.social ul li .twitter{background:  rgb(0, 172, 237 )}
.social ul li .tiktok{background: #000000;}
.social ul li a:hover{padding: 10px;  }




/*Configuracion de resoluciones*/
@media screen and (max-width: 1200px) {
  
  .flex{
      flex-direction: column;
  }

  div.sidebar{
      flex-direction: row;
      width: 100%;
      align-content: stretch;
  }

  .sidebar a{
      float: left;
      text-align: center;
  }
}

@media screen and (max-width: 600px) {

  .flex{
      flex-direction: column;
  }

  div.sidebar{
      flex-direction: column;
      width: 100%;
  }

}